p {
  line-height: 1em;
}

tr[data-redirect-url]:hover {
  background: $primary-color;
  cursor: pointer;
}

body {
  background-image: url('../images/background.jpg') !important;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}